*.iml
.kotlin
.gradle
.run/*
gradle-daemon-jvm.properties
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.logs

/bbl_install/.bundle/
/bbl_install/.kitchen/
/bbl_install/vendor/bundle/
/bbl_install/files/*
!/bbl_install/files/README.md
/bbl_install/vendor/bundle/ruby/*