*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.logs

/bbl_install/
/bbl_install_linux/.bundle/
/bbl_install_linux/.kitchen/
/bbl_install_linux/vendor/bundle/
/bbl_install_linux/files/*
!/bbl_install_linux/files/README.md

/bbl_install_windows/.bundle/
/bbl_install_windows/.kitchen/
/bbl_install_windows/vendor/bundle/
/bbl_install_windows/files/*
!/bbl_install_windows/files/README.md
