<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Use a test-specific package -->

    <application>
        <provider
            android:name="org.jetbrains.compose.resources.AndroidContextProvider"
            android:authorities="org.gnit.bible.test.jetbrains.compose.resources.provider"
            android:exported="false"
            android:grantUriPermissions="false"
            tools:replace="android:authorities"/>
    </application>
</manifest>