<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="bbl"
             Language="1033"
             Manufacturer="GNIT"
             Version="$(var.BblVersion)"
             Scope="perUser"
             UpgradeCode="32199fde-1c09-447f-a22d-e8b23a4083bb">
        <MajorUpgrade DowngradeErrorMessage="A newer version of bbl is already installed." />
        <Media Id="1" Cabinet="bbl.cab" EmbedCab="yes" />

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="INSTALLDIR" Name="bbl">
                <Component Id="bbl_exe" Guid="*">
                    <File Id="bbl_exe" Source="$(var.BblSourceDir)\bbl.exe" />
                    <Environment Id="bbl_PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="no" />
                </Component>
                <Component Id="bbl_search_common_exe" Guid="*">
                    <File Id="bbl_search_common_exe" Source="$(var.BblSourceDir)\bbl-search-common.exe" />
                </Component>
                <Component Id="webus_zip" Guid="*">
                    <File Id="webus_zip" Source="$(var.BblSourceDir)\webus.zip" />
                </Component>
            </Directory>
        </StandardDirectory>

        <Feature Id="ProductFeature" Title="bbl" Level="1">
            <ComponentRef Id="bbl_exe" />
            <ComponentRef Id="bbl_search_common_exe" />
            <ComponentRef Id="webus_zip" />
        </Feature>
    </Package>
</Wix>
